intent: {{ intent }}
question_examples:
{% for item in question_examples %}
  - {{ item }}
{% endfor %}
preferred_tables:
{% for item in preferred_tables %}
  - {{ item }}
{% endfor %}
required_joins:
{% for item in required_joins %}
  - {{ item }}
{% endfor %}
safe_filters:
{% for item in safe_filters %}
  - {{ item }}
{% endfor %}
optional_sql_template: {{ optional_sql_template }}
rendering_guidance: {{ rendering_guidance }}

